<div class="row">
   <div class="col-sm-6">   
      <h2>View Movie Details<h2/> 

		<table class="table table-striped table-hover table-bordered">
		   <tbody>
		      <tr>
		         <th>#</th>
	            <td>{{movie_id}}</td>
		      </tr>

		      <tr>
		         <th>Movie Title</th>
	            <td>{{movie_title}}</td>
		      </tr>		      
		      <tr>
		         <th>Genre</th>
	            <td><span class='label label-info'>{{ genre }}</span></td>
		      </tr>
		      <tr>
		         <th>Showtime</th>
	            <td><span class='label label-info'>{{showtimes}}</span></td>
		      </tr>
		      
		      <tr>
		         <th>Status</th>
	            <td>{{{displaymoviestatus status}}}</td>
		      </tr>		      
		   </tbody>
		</table> 

     	<p>
     		<a href="#movies" class="btn btn-info" id="returntomovies">
     			Return
     		</a>

     		<a href="#movies/edit/{{movie_id}}" class="btn btn-info" id="editmovie">
     			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				 Update Movie's Showtimes
     		</a>
     	</p>

   </div>
</div>